<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Layout</strong> <small>Gutters</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          By adding <a href="https://coreui.io/docs/layout/gutters/">gutter modifier classes</a>
          , you can have control over the gutter width in as well the inline as block direction.
        </p>
        <app-docs-example href="forms/layout#gutters">
          <c-row class="g-3">
            <c-col xs>
              <input aria-label="First name" cFormControl placeholder="First name" />
            </c-col>
            <c-col xs>
              <input aria-label="Last name" cFormControl placeholder="Last name" />
            </c-col>
          </c-row>
        </app-docs-example>
        <p class="text-body-secondary small">
          More complex layouts can also be created with the grid system.
        </p>
        <app-docs-example href="forms/layout#gutters">
          <form cForm class="row g-3">
            <c-col md="6">
              <label cLabel for="inputEmail4">Email</label>
              <input cFormControl id="inputEmail4" type="email" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputPassword4">Password</label>
              <input cFormControl id="inputPassword4" type="password" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress">Address</label>
              <input cFormControl id="inputAddress" placeholder="1234 Main St" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress2">Address 2</label>
              <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>
            <c-col md="6">
              <label cLabel for="inputCity">City</label>
              <input cFormControl id="inputCity" />
            </c-col>
            <c-col md="4">
              <label cLabel for="inputState">State</label>
              <select cSelect id="inputState">
                <option>Choose...</option>
                <option>...</option>
              </select>
            </c-col>
            <c-col md="2">
              <label cLabel for="inputZip">Zip</label>
              <input cFormControl id="inputZip" />
            </c-col>
            <c-col xs="12">
              <c-form-check>
                <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" />
                <label cFormCheckLabel for="gridCheck">Check me out</label>
              </c-form-check>
            </c-col>
            <c-col xs="12">
              <button cButton type="submit">Sign in</button>
            </c-col>
          </form>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
