<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button</strong> <small>ghost</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          If you need a ghost variant of button, set <code>variant=&#34;ghost&#34;</code> prop
          to remove all background colors.
        </p>
        <app-docs-example href="components/button#ghost-buttons">
          @for (state of states; track state; let i = $index) {
            <c-row class="align-items-center mb-3">
              <c-col class="mb-3 mb-xl-0" xl="2" xs="12">
                {{ state.charAt(0).toUpperCase() + state.slice(1) }}
              </c-col>
              <c-col>
                @for (color of colors; track color; let i = $index) {
                  <button
                    [active]="state === 'active'"
                    [color]="color"
                    [disabled]="state === 'disabled'"
                    cButton
                    variant="ghost"
                  >
                    {{ color.charAt(0).toUpperCase() + color.slice(1) }}
                  </button>
                }
              </c-col>
            </c-row>
          }
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button</strong> <small>Pill</small>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/button#pill-buttons">
          @for (color of colors; track color; let i = $index) {
            <button
              [color]="color"
              cButton
              class="me-1"
              shape="rounded-pill"
            >
              {{ color.charAt(0).toUpperCase() + color.slice(1) }}
            </button>
          }
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
