<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>SOlo me interesa este comp</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
         Descripcion aqui
        </p>
        <app-docs-example href="components/placeholder">
          <div class="d-flex justify-content-around p-3">
            <c-card style="width: 18rem;">
              <img cCardImg="top"  src="./assets/images/angular.jpg" />
              <c-card-body>
                <h5 cCardTitle>Card title</h5>
                <p cCardText>
                  Some quick example text to build on the card title and make up the bulk of the
                  card&#39;s content.
                </p>
                <a cButton cCol="7" routerLink="./">Click Aqui</a>
              </c-card-body>
            </c-card>
            
          </div>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
