<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Navs</strong> <small>Vertical</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Stack your navigation by changing the flex item direction with the
          <code>.flex-column</code> utility. Need to stack them on some viewports but not
          others? Use the responsive versions (e.g., <code>.flex-sm-column</code>).
        </p>
        <app-docs-example href="components/nav#vertical">
          <c-nav class="flex-column">
            <c-nav-item>
              <a [active]="true" cNavLink [routerLink]="[]">
                Active
              </a>
            </c-nav-item>
            <c-nav-item>
              <a cNavLink [routerLink]="[]">Link</a>
            </c-nav-item>
            <c-nav-item>
              <a cNavLink [routerLink]="[]">Link</a>
            </c-nav-item>
            <c-nav-item>
              <a [disabled]="true" cNavLink [routerLink]="[]">
                Disabled
              </a>
            </c-nav-item>
          </c-nav>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Navs</strong> <small>Tabs with dropdowns</small>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/nav#tabs-with-dropdowns">
          <c-nav variant="tabs">
            <c-nav-item>
              <button [active]="true " cNavLink [routerLink]="[]">
                Active
              </button>
            </c-nav-item>
            <c-dropdown variant="nav-item">
              <button cDropdownToggle href cNavLink>
                Dropdown button
              </button>
              <ul cDropdownMenu>
                <li>
                  <button cDropdownItem [routerLink]="[]">Action</button>
                </li>
                <li>
                  <button cDropdownItem [routerLink]="[]">Another action</button>
                </li>
                <li>
                  <button cDropdownItem [routerLink]="[]">Something else here</button>
                </li>
              </ul>
            </c-dropdown>
            <c-nav-item>
              <button cNavLink [routerLink]="[]">Link</button>
            </c-nav-item>
            <c-nav-item>
              <button [disabled]="true" cNavLink [routerLink]="[]">
                Disabled
              </button>
            </c-nav-item>
          </c-nav>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
