<c-row ngPreserveWhitespaces>
  <form [formGroup]="formGroup" cForm>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Checkbox</strong>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="forms/checks-radios">
            <div formGroupName="flexCheckGroup">
              <c-form-check>
                <input cFormCheckInput formControlName="checkOne" id="checkOne" type="checkbox" />
                <label cFormCheckLabel for="checkOne">Default checkbox</label>
              </c-form-check>
              <c-form-check>
                <input [checked]="true" cFormCheckInput formControlName="checkTwo" id="checkTwo" type="checkbox" />
                <label cFormCheckLabel for="checkTwo">Checked checkbox</label>
              </c-form-check>
            </div>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Radio</strong>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="forms/checks-radios#radios">
            <div formGroupName="flexRadioGroup">
              <c-form-check>
                <input cFormCheckInput formControlName="flexRadioDefault" type="radio" value="one" />
                <label cFormCheckLabel>Default radio</label>
              </c-form-check>
              <c-form-check>
                <input cFormCheckInput formControlName="flexRadioDefault" type="radio" value="two" />
                <label cFormCheckLabel>Checked radio</label>
              </c-form-check>
            </div>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Switches</strong>
        </c-card-header>
        <c-card-body>
          <p class="text-body-secondary small">
            A switch has the markup of a custom checkbox but uses the <code>switch</code> boolean
            properly to render a toggle switch. Switches also support the <code>disabled</code>
            attribute.
          </p>
          <app-docs-example href="forms/checks-radios#switches">
            <c-form-check [switch]="true">
              <input cFormCheckInput type="checkbox" />
              <label cFormCheckLabel>Default switch checkbox input</label>
            </c-form-check>
            <c-form-check [switch]="true">
              <input cFormCheckInput checked type="checkbox" />
              <label cFormCheckLabel>Checked switch checkbox input</label>
            </c-form-check>
            <c-form-check [switch]="true">
              <input cFormCheckInput disabled type="checkbox" />
              <label cFormCheckLabel>Default switch checkbox input</label>
            </c-form-check>
            <c-form-check [switch]="true">
              <input cFormCheckInput checked disabled type="checkbox" />
              <label cFormCheckLabel>Checked switch checkbox input</label>
            </c-form-check>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Switches</strong> <small>Sizes</small>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="forms/checks-radios#sizes">
            <c-form-check [switch]="true">
              <input cFormCheckInput type="checkbox" />
              <label cFormCheckLabel>Default switch checkbox input</label>
            </c-form-check>
            <c-form-check sizing="lg" switch>
              <input cFormCheckInput type="checkbox" />
              <label cFormCheckLabel>Large switch checkbox input</label>
            </c-form-check>
            <c-form-check sizing="xl" switch>
              <input cFormCheckInput checked type="checkbox" />
              <label cFormCheckLabel>Extra large switch checkbox input</label>
            </c-form-check>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
  </form>
</c-row>
